/*in this project we want animated image in background, so we'll have our image in css file*/

/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

/*
Challenge:
Wrap the "hero" section (title, button, logo) in a <div>
and set its background image to the galaxy image. This will
force you to also add some padding on the "hero" <div>.

Add a "Terms and conditions apply" <h3> below the "hero"
section.

PS: your layout will likely be disturbed by the <body>
tag's default margin.
*/

body{
    color:#d0945a;
    /*1.background-image: url("images/universe.jpg");*/
    /*here now we'll add animated image from https://giphy.com/*/
    /*background-image: url("images/giphy.webp");
    background-size: cover;*/
    /*can put a link as well*/
    text-align : center;
    /*
    Set the font family here.use google font
    */

    font-family: "Orbitron", sans-serif;
    margin: 0px;

}

.hero{
    background-image: url("images/giphy.webp");
    background-size: cover;
    padding: 10px 0px 100px 0px;
}

/*
Challenge 2:
Select the logo using its "id", and reduce its
width to a suitable level.
*/

#logo{
    width: 100px;
}

#title {
    text-shadow: 0px 0px 4px black;
}


.btn{
    padding: 6px 12px;
    background: white;
    border: none;
     /*
    You'll need to do something here as well!
    Can you spot what it is? font, use google font
    */
    /*font-family: "Orbitron", sans-serif;*/
    font-family: inherit;
    color: #d0945a;
    font-weight:900; /*could have used bold*/

}
/*
Challenge:
Add the underline to the title using a <span> and a class.
*/

.underline {
   /* text-decoration: underline;
    text-decoration-thickness: 4px;*/
    border-bottom: 6px solid white
}